$new-padding: 1.5%;
$text-alignment: center;

body {
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    }

    h1 {
        color: rgb(170, 25, 80);
        font-size: 2.5rem;
        text-align: $text-alignment;
    }

    .para1 {
        color: goldenrod;
        padding: $new-padding;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .para2 {
        color: rgb(169, 165, 207);
        padding: 2%;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .para3 {
        color: rgb(59, 203, 34);
        padding: 2%;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .para4 {
        color: rgb(210, 16, 94);
        padding: 2%;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }